<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>246022342016-a2ut1i7mgbu55p4dkome1lqi34folcth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246022342016-a2ut1i7mgbu55p4dkome1lqi34folcth</string>
	<key>API_KEY</key>
	<string>AIzaSyBY0F1ylGkiZ7NwhV01jisVw5bImIsiAH4</string>
	<key>GCM_SENDER_ID</key>
	<string>246022342016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praveengowda.app.mobi.Snoozed</string>
	<key>PROJECT_ID</key>
	<string>project-2237439232296231703</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2237439232296231703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:246022342016:ios:7f62e1d34b569cf8</string>
	<key>DATABASE_URL</key>
	<string>https://project-2237439232296231703.firebaseio.com</string>
</dict>
</plist>